<div id="footer-main">
    <p id="BANQUAN">版權所有星野栄治 © 2025｜根據GNU LICENSE協議轉載</p>
    <div id="footer-main-naiyou">
        <div id="LANMU">
            <p>github原程式碼：<a href="https://github.com/HosinoEJ/HosinoEJ">這裏</a></p>
            <p>特別感謝：<a href="https://imgapi.lie.moe/help">萌える嘘二次元随机图</a></p>
            <p>友情鏈接：<a href="/friends">這裏</a></p>
        </div>
        <div id="LANMU">
            <p><a href="https://icp.gov.moe/?keyword=20253707">萌ICP备20253707号</a></p>
        </div>
    </div>
</div>