<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/main.css" /><!--全网站统一标准-->
    <link rel="stylesheet" href="/css/footer.css" /><!--頁腳-->
    <link rel="stylesheet" href="/css/IndexTitleCursor.css" /><!--设置主页标题动画的光标，其他地方也可以调用-->
    <link rel="stylesheet" href="/css/bg_setting.css" /><!--背景顏色設置-->
    <link rel="icon" href="https://avatars.githubusercontent.com/u/177436503?v=4" /><!--图标-->
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/markdown.css"><!--Markdown的樣式-->
    <script src="/js/IndexTransgender.js"></script><!--Index页面上的彩蛋——國際跨性別現身日时会将标题中的GTEJR变成跨性别旗-->
    <script src="/js/IndexTitleCursor.js"></script><!--主页动画-->
    <script src="/js/on_scroll.js"></script>
    <!--<script src="https://fastly.jsdelivr.net/npm/live2d-widgets@1.0.0-rc.6/dist/autoload.js"></script>   //看板娘-->
    <script src="/js/template.js"></script><!--模版清单！很重要的一个词条库-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>