<header class="DivStyle-Glass header">
    <a href="/" data-animate-link>
    <img class="indexIcon" width="55px" style="border-radius: 50%;" src="https://avatars.githubusercontent.com/u/177436503?v=4"/>
    </a>
    <a class="button" href="/" data-animate-link>主頁</a>
    <a class="button" href="https://x.com/HosinoEJ" data-animate-link>Twitter</a>
    <a class="button" href="https://github.com/HosinoEJ" data-animate-link>Github</a>
    <a class="button" href="https://shop.hsnej.fun" data-animate-link>超商</a>
    <a class="button" href="/port/20250708.zh-tw.TheJournalOf_STAR" data-animate-link>星の日記</a>
</header>