<div class="indexButton"><!--indexButton是主页按钮-->
    <a href="https://x.com/HosinoEJ" class="button1">Twitter</a>
    <a href="http://shop.hsnej.fun/" class="button">我的小超商</a>
</div>
<div id="link_elseWeb">
    <img src="/image/youtube.svg" alt="youtube" class="little-icon">
    <a href="https://youtube.com/@HosinoEJ" class="LinkText1">YouTube</a>
    |
    <img src="/image/github.svg" alt="youtube" class="little-icon">
    <a href="https://github.com/HosinoEJ" class="LinkText1">GitHub</a>
    |
    <img src="/image/discord.svg" alt="youtube" class="little-icon">
    <a href="https://reurl.cc/8Dz8d7" class="LinkText1">Discord</a>
</div>