/*标题打字动画的光标，配合/js/IndexTitleCursor.js一起食用*/

#outPut {
    display: inline-block; /* 讓光標可以正確定位 */
}

.cursor {
    display: inline-block;
    width: 8px; /* 光標寬度，可調整 */
    margin-left: 2px; /* 光標與文字的間距 */
    text-align: center;
    font-size: 1.2em; /* 調整光標大小 */
    animation: blink 1s infinite step-end; /* 閃爍動畫 */
}
  
.cursor::before{/*標題本體*/
    content:"_";
}
  
@keyframes blink {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}